# Data Structures

### Task1

1. Create a **tuple** containing the names of 4 cities.  
2. **Print** the second city in the tuple.  
3. **Add one more city** to the tuple.

In [9]:
tuple = ("Alexandria", "Cairo", "Assiut" , "Luxor")
print(tuple[1])
# tuple.append("Matrouh") -> error
# tuple[4] = "Matrouh" -> error
# but why I should put "," after "Matrouh" ?? To make sure it is tuple not just a string.
tuple += ("Matrouh",)
print(tuple)

Cairo
('Alexandria', 'Cairo', 'Assiut', 'Luxor', 'Matrouh')

### Task2

1. You have a **list of numbers**.  
2. **Print** all duplicate values.  
3. **Print** all unique values.  
4. *(Using a `set` is mandatory.)*

In [5]:
mylist=[2,5,8,1,4,2,8,1,9,4,3,5,4,2,4,6]

# for each element in the list if it is already "seen" then it is a duplicate value
# set -> order , without duplicates
seen = set()
duplicates = set()

for num in mylist:
    if num in seen:
        duplicates.add(num) # [ 2, 8, 1, 4, 5, 4, 2, 4 ] -> set -> [ 2, 8, 1, 4, 5 ]
    else:
        seen.add(num) # [ 2, 5, 8, 1, 4, 9, 3, 6 ] -> unique values

print(f"Duplicate Values : {duplicates}")
print(f"Unique Values : {seen}")

Duplicate Values : {1, 2, 4, 5, 8}
Unique Values : {1, 2, 3, 4, 5, 6, 8, 9}

### Task3

1. You have a **list of numbers**.  
2. **Print** each value and its count.  
3. *(Using a `dictionary` is mandatory.)*

In [12]:
mylist=[2,9,8,1,4,2,9,1,9,5,1,5,4,2,4,6]

dictionary = { }
# dictionary.
for num in mylist:
 if num in dictionary:
  dictionary[num] += 1
 else:
  dictionary[num] = 1

print("Value -> Count")
for value, count in dictionary.items():
    print(f"{value} -> {count}")

Value -> Count
2 -> 3
9 -> 3
8 -> 1
1 -> 3
4 -> 3
5 -> 2
6 -> 1

### Task4

1. You have a **dictionary for a student**.  
2. **Print** the average mark.  
3. **Add** a new key `"grade"` with value `"A"`.  
4. **Remove** the `"age"` key.

In [19]:
student = {"name": "Ali", "age": 20, "marks": [80, 90, 85]}

marks = student["marks"]
average_mark = sum(marks) / len(marks)
print(f"Average Mark {average_mark}")
# or
count = 0
sum = 0
for mark in student["marks"]:
  sum += mark
  count += 1.0
average = sum / count
print(f"Average Mark {average}")


student["grade"] = "A"
print(student)


student.pop("age")
print(student)

Average Mark 85.0
{'name': 'Ali', 'age': 20, 'marks': [80, 90, 85], 'grade': 'A'}
{'name': 'Ali', 'marks': [80, 90, 85], 'grade': 'A'}

## 2- Loops

### Task5

1. Let the user **enter a string**.  
2. **Print** the vowel letters only.

In [22]:
word = input("Enter A String Value.")
vowel = [ 'a' , 'e' , 'i' , 'o' , 'u' ]
result = []
for s in word:
  if s.lower() in vowel:
    result.append(s)

print(result)

Enter A String Value.HAger
['A', 'e']

### Task6

1. Take a **number as input** from the user.  
2. **Sum** all numbers from 1 to that number.

In [25]:
number = int(input("Enter A Number."))
sum = 0
for n in range(1 , number + 1 , 1):
  sum += n

print(sum)

Enter A Number.3
6

### Task7

1. You have a **list of values**.  
2. **Print** even numbers only **until you reach the number 7 then stop**.

In [26]:
mylist=[2,5,8,1,4,2,8,1,9,7,3,5,4,2,4,6]

even = []
for n in mylist:
  if n == 7:
    break
  if n % 2 == 0:
    even.append(n)

print(even)

[2, 8, 4, 2, 8]

### Task8

1. Write a program that prints:  
   - `"Fizz"` if a number is divisible by 3  
   - `"Buzz"` if divisible by 5  
   - `"FizzBuzz"` if divisible by both  
2. Do this for **numbers from 1 to 30**.

In [30]:
result = {}
for n in range(1 , 31):
  if n % 3 == 0 and n % 5 == 0:
    result[n] = "FizzBuzz"
  elif n % 3 == 0:
    result[n] = "Fizz"
  elif n % 5 == 0:
    result[n] = "Buzz"
  else:
    result[n] = "Not Divisible By Both"

print("Number -> Value")
for value, count in result.items():
    print(f"{value} -> {count}")

Number -> Value
1 -> Not Divisible By Both
2 -> Not Divisible By Both
3 -> Fizz
4 -> Not Divisible By Both
5 -> Buzz
6 -> Fizz
7 -> Not Divisible By Both
8 -> Not Divisible By Both
9 -> Fizz
10 -> Buzz
11 -> Not Divisible By Both
12 -> Fizz
13 -> Not Divisible By Both
14 -> Not Divisible By Both
15 -> FizzBuzz
16 -> Not Divisible By Both
17 -> Not Divisible By Both
18 -> Fizz
19 -> Not Divisible By Both
20 -> Buzz
21 -> Fizz
22 -> Not Divisible By Both
23 -> Not Divisible By Both
24 -> Fizz
25 -> Buzz
26 -> Not Divisible By Both
27 -> Fizz
28 -> Not Divisible By Both
29 -> Not Divisible By Both
30 -> FizzBuzz

## 3- Functions

### Task9

1. Given a **list of words**, filter out words that have **more than 4 letters**.  
2. *(Using a `lambda` function is mandatory.)*

In [33]:
words = ["apple", "cat", "sun", "banana", "dog"]

short_words = list(filter(lambda word: len(word) <= 4, words))
print(short_words)

long_words = list(filter(lambda word: len(word) > 4, words))
print(long_words)

['cat', 'sun', 'dog']
['apple', 'banana']

### Task 10 - **Basic Calculator**
Write a Python program that performs basic arithmetic operations using **user-defined functions**.
Your program should:

1. **Define four functions:**
   - `add(x, y)` → returns the sum of two numbers  
   - `subtract(x, y)` → returns the difference  
   - `multiply(x, y)` → returns the product  
   - `divide(x, y)` → returns the result of division  

2. **Ask the user** to choose an operation (**Add**, **Subtract**, **Multiply**, **Divide**).  
3. **Ask the user** to enter two numbers.  
4. **Based on the user’s choice**, call the corresponding function and display the result.  
5. If the user enters an **invalid choice**, display a message: "Invalid input"

In [37]:
def add(x , y):
  return x + y
def subtract(x , y):
  return x - y
def multiply(x , y):
  return x * y
def divide(x , y):
  return x / y

operation = input("Choose An Operation (**Add**, **Subtract**, **Multiply**, **Divide**).")
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if operation == "Add":
  print(add(num1 , num2))
elif operation == "Subtract":
  print(subtract(num1 , num2))
elif operation == "Multiply":
  print(multiply(num1 , num2))
elif operation == "Divide":
  print(divide(num1 , num2))
else:
  print("Invalid Input")

Choose An Operation (**Add**, **Subtract**, **Multiply**, **Divide**).Multiply
Enter first number: 3
Enter second number: 5
15

## `Bonus Task`


1. Write a **function** that calculates the factorial of a number.  
2. The function should **return the result**.  
3. Test the function with a number input from the user.

In [38]:
def factorial(n):
  if n < 0:
      return "Factorial is not defined for negative numbers"
  elif n == 0 or n == 1:
      return 1
  return n * factorial(n - 1)

num = int(input("Enter A Number."))
print(factorial(num))

Enter A Number.4
24